<main
  class="lg:grid flex flex-col gap-2 h-[calc(100vh-84px)] lg:h-[calc(100vh-84px-84px)] lg:grid-cols-12 lg:grid-rows-12"
>
  <section
    class="bg-accent lg:col-start-1 lg:col-span-6 lg:row-start-1 lg:row-span-12 flex flex-col gap-2"
  >
    <h4 class="text-[16px]">Mapa das Arboviroses</h4>
    <app-map></app-map>
    <h4 class="self-end text-[16px]">1700 casos</h4>
  </section>
  <div class="flex justify-between gap-2">
    <section
      class="bg-accent lg:col-start-7 lg:col-span-2 lg:row-start-1 lg:row-span-3 flex flex-col justify-between w-full"
    >
      <h4 class="text-[16px]">Nível</h4>
      <div class="self-end flex items-end">
        <h2>4</h2>
        <p>/4</p>
      </div>
    </section>
    <section
      class="bg-accent col-start-9 col-span-2 row-start-1 row-span-3 flex flex-col justify-between w-full"
    >
      <h4 class="text-[16px]">Óbitos</h4>
      <div class="self-end flex items-end">
        <h2>4</h2>
      </div>
    </section>
    <section
      class="bg-accent col-start-11 col-span-2 row-start-1 row-span-3 flex flex-col justify-between w-full"
    >
      <h4 class="text-[16px]">SE</h4>
      <div class="self-end flex items-end">
        <h2>4</h2>
      </div>
    </section>
  </div>
  <section
    class="bg-accent flex flex-col col-start-7 col-span-6 row-start-4 row-span-5"
  >
    <h4 class="text-[16px]">Níveis Epidemiológicos</h4>
    <app-se-levels></app-se-levels>
  </section>
  <section
    class="bg-accent flex flex-col col-start-7 col-span-3 row-start-9 row-span-4"
  >
    <h4 class="text-[16px]">Casos por gênero</h4>
    <app-by-genre></app-by-genre>
  </section>
  <section
    class="bg-accent flex flex-col col-start-10 col-span-3 row-start-9 row-span-4"
  >
    <h4 class="text-[16px]">Casos por raça/cor</h4>
    <app-by-race></app-by-race>
  </section>
</main>
