<main class="grid gap-2 h-[calc(100vh-84px-84px)] grid-cols-12 grid-rows-12">
  <section
    class="bg-accent col-start-1 col-span-6 row-start-1 row-span-12 flex flex-col"
  >
    <h4>Mapa das Arboviroses</h4>
    <div class="flex-1 flex items-center justify-center w-full">
      <app-map></app-map>
    </div>
    <h4 class="self-end">1700 casos</h4>
  </section>
  <section
    class="bg-accent col-start-7 col-span-2 row-start-1 row-span-3 flex flex-col justify-between"
  >
    <div>
      <h4>Nível</h4>
    </div>
    <div class="self-end flex items-end">
      <h2>4</h2>
      <p>/4</p>
    </div>
  </section>
  <section
    class="bg-accent col-start-9 col-span-2 row-start-1 row-span-3 flex flex-col justify-between"
  >
    <div>
      <h4>Óbitos</h4>
    </div>
    <div class="self-end flex items-end">
      <h2>4</h2>
    </div>
  </section>
  <section
    class="bg-accent col-start-11 col-span-2 row-start-1 row-span-3 flex flex-col justify-between"
  >
    <div>
      <h4>SE</h4>
    </div>
    <div class="self-end flex items-end">
      <h2>4</h2>
    </div>
  </section>
  <section
    class="bg-accent flex flex-col col-start-7 col-span-6 row-start-4 row-span-5"
  >
    <div>
      <h4>Níveis Epidemiológicos</h4>
    </div>
    <div class="flex-1 w-full h-full">
      <app-se-levels></app-se-levels>
    </div>
  </section>

  <section class="bg-accent col-start-7 col-span-3 row-start-9 row-span-4">
    <div>
      <h4>Casos por gênero</h4>
    </div>
    <div class="flex-1 w-full h-full">
      <app-by-genre></app-by-genre>
    </div>
  </section>
  <section
    class="bg-accent col-start-10 col-span-3 row-start-9 row-span-4"
  ></section>
</main>
