:root {
  --base-100: #5e5e72;
  --base-200: #101015;
  --base-300: #0b0b12;
  --accent-100: #72727a;
  --accent-200: #1f1f22;
  --accent-300: #16161d;
  --highlight-100: #f44336;
  --highlight-200: #ef5350;
  --highlight-300: #e57373;
  --text-default: #d9d9d9;
  --text-alt: #0b0b12;
}
